<div class="app-page-actor-detail">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="container">
      <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <h1>Jose Libreros</h1>
        </div>
        <div></div>
        <div align="right">
          <img class="card-photo-actors" mat-card-image src="../../../assets/IMAGES/author.png">
        </div>
      </div>

      <div class="biography">
        Author
      </div>

      <div class="title">Git page</div>
      <div>
        <a href="https://github.com/josealejolibreros">https://github.com/josealejolibreros</a>
      </div>
      <p></p><p></p>
    </div>

  </div>
</div>

<!--
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button (click) = "goToSearch()">Back</button>
    </div>
  -->

<!-- <pre>{{ movie | json }}</pre> -->

