<div class="app-page-actor-detail">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="container">
      <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <h1>Jose Libreros</h1>
        </div>
        <div></div>
        <div align="right">
          <img class="card-photo-actors" mat-card-image src="https://raw.githubusercontent.com/josealejolibreros/al-project/master/src/assets/IMAGES/author.png">
        </div>
      </div>

      <div class="biography">
        Author
      </div>

      <div class="title">Git page</div>
      <div>
        <a href="https://github.com/josealejolibreros/al-project">https://github.com/josealejolibreros/al-project</a>
      </div>
      <p></p><p></p>
    </div>

  </div>
</div>
