<div class="app-page-actor-detail">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div class="container">
        <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <h1>Welcome to Seventh Art</h1>
          </div>
          
          <div align="right">
           
          </div>
        </div>
        
  
        <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
            <div align="left">
              
            </div>
            <div align="center"> <img class="card-photo-logo" mat-card-image src="../../../assets/IMAGES/LOGO.png"></div>
            <div align="right">
            </div>
          </div>
        <div class="biography">
          Clic on each item of menu bar
        </div>
  
        
        <p></p><p></p>
      </div>
  
    </div>
  </div>
  