.app-stats {
    background-color: #303030;
    .low {
        color: lightgray;
    }
    .normal {
        color: blue;
    }
    .high {
        color: lightgreen;
    }
    .invisible {
        display: none;
    }
}