<!--
<ng-container>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
  <mat-card role="listitem" *ngFor="let movie of movies" let i = index>


      <mat-card-header  (click)="onClick(movie.id)">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{movie.title}}</mat-card-title>
          
      </mat-card-header>
      <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
     
        
    
  </mat-card>
  </div>
</ng-container>
-->






<div class="cast-container" fxLayout="row wrap">
        <div class="my-mat-card" style="padding: 10px" role="listitem" *ngFor="let movie of movies" (click)="onClick(movie.id)">
          <mat-card class="mat-card">
            <mat-card-title class="title-mat">
                    {{movie.title}}
            </mat-card-title>
            <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
     


            <!--
            <div class="image_container" fxLayoutGap="center center">
              <div *ngIf="cast_in.profile_path == null; then content else other_content">here is ignored</div>
              <ng-template #content>
               
                  <img mat-card-image src="../../../assets/IMAGES/person.jpg" title={{cast_in.name}} alt={{cast_in.name}} style="width: 235px; height: 235px">
                
              </ng-template>
              <ng-template #other_content>
                
                  <img mat-card-image src="https://image.tmdb.org/t/p/w500{{cast_in.profile_path}}" alt="Photo of {{cast_in.name}}" title={{cast_in.name}}>
                
              </ng-template>
            </div>
        -->
          </mat-card>
        </div>
      </div>

