<!--
<ng-container>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
  <mat-card role="listitem" *ngFor="let movie of movies" let i = index>


      <mat-card-header  (click)="onClick(movie.id)">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{movie.title}}</mat-card-title>
          
      </mat-card-header>
      <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
     
        
    
  </mat-card>
  </div>
</ng-container>
-->






<div class="cast-container" fxLayout="row wrap">
        <div class="my-mat-card" style="padding: 10px" role="listitem" *ngFor="let movie of movies" (click)="onClick(movie.id)">
          <mat-card class="mat-card">
            <mat-card-title class="title-mat">
                    {{movie.title}}
            </mat-card-title>
            <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
     


            
          </mat-card>
        </div>
      </div>

