


<mat-toolbar class="mat-m" >
    <nav _ngcontent-c1 class="docs-navbar-header" >
        <a mat-button routerLink="/" routerLinkActive="active" color="primary">
          Home
           </a><br>
        <a mat-button routerLink="/movies" routerLinkActive="active" color="primary">
          Top movies</a><br>
        <a mat-button routerLink="/search" routerLinkActive="active" color="primary">Search movies</a><br>
        <a mat-button routerLink="/search-actors" routerLinkActive="active" color="primary">Search actors</a><br>
        <a mat-button routerLink="/about" routerLinkActive="active" color="primary">About</a><br>
      </nav>
</mat-toolbar>



      
<div  class="main" fxLayout="row" fxLayoutAlign="center start" >
  <div></div>
  <div class="app-background"><router-outlet></router-outlet></div>
  <div></div>
</div>







