<!--
      actor.id = rawData.hasOwnProperty('id') ? rawData.id : 0;
        actor.name = rawData.hasOwnProperty('name') ? rawData.name: [];
        actor.profile_path = rawData.hasOwnProperty('profile_path') ? rawData.profile_path: '';
        actor.popularity = rawData.hasOwnProperty('popularity') ? rawData.popularity : '';
        actor.birthday = rawData.hasOwnProperty('birthday') ? rawData.birthday : '';
        actor.biography = rawData.hasOwnProperty('biography') ? rawData.biography : '';
        actor.place_of_birth = rawData.hasOwnProperty('place_of_birth') ? rawData.place_of_birth : '';
        actor.adult = rawData.hasOwnProperty('adult') ? rawData.adult : '';
        actor.homepage = rawData.hasOwnProperty('homepage') ? rawData.homepage : '';
-->


<div class="app-page-actor-detail" >
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="container">
      <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <h1>{{ actor.name }}</h1>
        </div>
        <div></div>
        <div align="right" >
          <img class="card-photo-actors" mat-card-image src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}" alt="Photo of {{actor.name}}">
        </div>
      </div>

      <div class="biography">
          {{ actor.biography }}
      </div>
      <div>
        <div class="title">Birthday</div>
        <div class="biography">{{actor.birthday}} in {{actor.place_of_birth}}</div>
      </div>

      <div class="stats">
        <app-stats-actors [data]="{ popularity: actor.popularity}">
        </app-stats-actors>
      </div>

      <div>
        <div *ngIf="actor.adult === true">Adult: yes</div>
        <div *ngIf="actor.adult === no">Adult: no</div>
      </div>
      <div>
        <div class="title">Homepage</div>
        <div><a href="{{actor.homepage}}">{{ actor.homepage }}</a></div>
      </div>

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click) = "goToSearch()">Back</button>
  </div>

  <!-- <pre>{{ movie | json }}</pre> -->

</div>