<div class="app-page-detail">

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="image-movie">
      <app-image-scroll [data]="movie.backdrop_path"></app-image-scroll>
    </div>


    



    <div class="container">



      <div class="row" fxLayout="row" fxLayoutAlign="space-around center">


        <div class="left" fxFlex="100">
          <h1>{{ movie.title }}</h1>
          <div class="basic">{{ strGenres }}</div>
          <div class="basic">{{ movie.release_date }}</div>
        </div>


        <div class="stats">
          <app-stats [data]="{ popularity: movie.popularity, vote_average: movie.vote_average, vote_count: movie.vote_count }">
          </app-stats>
        </div>

      </div>


      <div class="overview">
        {{ movie.overview }}
      </div>
      <div>
        <div class="title">Production companies:</div>
        <div class="basic">{{ strProductionCompanies }}</div>
      </div>

      <div>
        <div class="title">Production countries:</div>
        <div class="basic">{{ strProductionCountries }}</div>
      </div>

      <div>
        <div class="title">Spoken languages:</div>
        <div class="basic">{{ strSpokenLanguages }}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center none" >
          <div></div>
        
          <div class="app-background">
              <app-test-tmdb-credits [data]="{ idMovie: idMovie}">
              </app-test-tmdb-credits>
            </div>
        
          <div></div>
        
        </div>



      
    </div>





  </div>



  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click)="goToSearch()">Back</button>
  </div>

  <!-- <pre>{{ movie | json }}</pre> -->

</div>




<!--Scroll to top-->
<!--
  <button [ngClass]="{'show-scroll': navIsFixed}" (click)="scrollToTop()" class="scroll-to-top">
      Scroll To Top
  </button>
-->